.App {
  text-align: center;
}


body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  /* This is the overall background just change later */
}

ul{
  list-style: none;
}



li{
  width: 700px; 
  border-style: inset; 
  border-top-width: 1px; 
  border-color: white; 
  padding: 4%;
  margin: auto;
  border-bottom-right-radius:15% ;
  text-decoration: none;
}



/* .Nav li{
  

  display: block;
  color: white;
  text-align: center;
  
 
}

.Nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
*/
.Nav button:hover{
  background-color: #555;
  color: white;
  box-shadow: 0 2px 2px 0 white, 0 3px 5px 0 white;
} 

.Nav button{
  background-color: #282c34;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Nav {
  display: inline-table;
  padding: 14px 16px;
  float: left;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  justify-content: space-between;
}