.App {
  text-align: center;
  font-family: Georgia;
  /* background: repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ), repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ), repeating-linear-gradient(23deg, red 50px, orange 100px, yellow 150px, green
        200px, blue 250px, indigo 300px, violet 350px, red 370px); */



/* Create the parallax scrolling effect */
   
}

.test{

  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

/* nav ul {
  display: none;
}

nav ul li:hover > ul {
  display: block;
} */

nav ul {
  /* background: #efefef; 
  background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
  background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
  background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);  */
  /* box-shadow: 0px 0px 9px rgba(0,0,0,0.15); */
  padding: 0 20px;
  border-radius: 10px;  
  list-style: none;
  position: relative;
  display: inline-table;
}



 button{
  display: block; 
  padding: 25px 40px;
  color: #757575; 
  text-decoration: none;
}


.Nav{
  letter-spacing: 4px;
  box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2); 
  height: 50px;
}

.Nav button:hover{
  background-color: #555;
  color: white;
  box-shadow: 0 2px 2px 0 white, 0 3px 5px 0 white;
} 


.Nav button{
  float: left; 
  width: 200px; 
  background: #4b545f;
  box-shadow: 2px 2px 9px rgba(0,0,0,0.15);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
} 

.card{
  padding: 20px;
  margin-top: 20px;
  /* height:50%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
  grid-gap: 20px;
  /* align-items: center; */
  /* justify-content: center  */
 
 
}

ul{
  list-style: none;
  width: 50%;
  height:50%;
  /* padding-left: ;
  padding-right: 100%; */
  overflow-wrap: break-word;
  display: grid;
 
  grid-template-rows: max-content 1fr;
}

li{
  background-color: aliceblue;
  box-shadow: 0 2px 2px 0 white, 0 3px 5px 0 black;
}

