.App {
  text-align: center;
}


body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* This is the overall background just change later */
}

ul{
  list-style: none;
  width: 50%;
  height:50%;
  padding-left: 25%;
}



li{
  /* width: 700px;  */
  box-sizing: content-box;
  display: grid;
  border-style: inset; 
  border-top-width: 1px; 
  border-color: white; 
  padding: 18%;
  border-bottom-right-radius:20%;
  border-top-left-radius:20%;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  white-space: break-spaces;
  position: relative;
  background-color: black;
  /* transition: transform .2s; */
  /* I can't see so...  */
}

/* li:hover{
  transform: scale(1.5);
  /* The hover that makes the LI big 
} */

form {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type=text] {
  display: grid;
  justify-content: center;
  outline: none;
  margin:10px 0; 
  transition: width 0.4s ease-in-out;
  border: none;
  border-bottom: 2px solid white;
  background-color: #282c34;
  color: white;
  text-align: center;
}

input[type=text]focus {
  width: 50%;
}


textarea{
  margin-top: 10%;
  padding:10%;
  text-align: center;
  border: outset 4px white;
  resize: none;
  background-color: #282c34;
  color: white;
  outline: none;
 
}



h1 {
font-family: cursive;
position: relative;
text-align: center;
white-space: wrap;
}

.Nav button:hover{
  background-color: #555;
  color: white;
  box-shadow: 0 2px 2px 0 white, 0 3px 5px 0 white;
} 

.Nav button{
  background-color: #282c34;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Nav {
  display: inline-table;
  padding: 14px 16px;
  float: left;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  justify-content: space-between;
}