.App {
  text-align: center;
  font-family: Georgia;
  color: white

}


.otherB {
  margin-top: 50px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  height:1000px
}


.background {
  margin-top: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
 
}

 .new{
  margin-top: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height:670px;
  background-size: cover;
}

.Triane{
  margin-top: 80px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height:670px;
  background-size: cover;
 
}

.cardA{
  margin: 10%;
  background-color: #f2f2f2;
  opacity: 90%;
  height:500px
}

.About h1, p{
  color: black;
 opacity: none;
}
.new{
  margin-top: 70px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGIhlyK5uqrUs8DsWTWa_eSayhiZ6Uhq-EoQ&usqp=CAU');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
 
}



.welcomelogo{
  background-image: url('../assets/TransparentLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 300px;

}

.prompt{
  background-image: url('../assets/TransparentLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 800px;
}

.OhSnap{
  background-image: url(../assets/WriteTingz404.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 700px;
}

h1, h2, h3, h4, h5, h6, .testing {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}


.Nav{
  letter-spacing: 4px;
  box-shadow: 0 10px 18px 10px rgba(0, 0, 0, 0.2); 
  top:0;
  background-color: white;
  overflow: hidden;
  position:fixed;
  width: 100%;
}

.cancel, .sub, .Nav button:hover{
  background-color: #551C11;
  color: white;
  box-shadow: 0 2px 2px 0 black, 0 3px 5px 0 black;
 
} 

button{
  float: left; 
  display: block;
  text-align: center;
  padding: 14px 16px;
  background: #037644;
  box-shadow: 2px 2px 9px rgba(0,0,0,0.15);
  color: white;
  text-decoration: none;
  font-size: 16px;
} 

.welcome{
  position: relative; 
  width: 24em;
  margin-top:10%;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  color:black;
  border-right: .15em solid orange; 
}

.anim-type{
  animation: typewriter 3s steps(20, end) 1s 1 normal both,
             blinkTextCursor .5s step-end infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from, to { border-color: transparent }
  10% { border-color: orange }
}

.card{
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 2fr 2fr));
  grid-gap: 20px;
  overflow-wrap: break-word;
}


ul{
  list-style: none;
  width: 50%;
  height:50%;
  display: grid;
  grid-template-rows: max-content 1fr;

}

li, .Show {
  background-color: aliceblue;
  box-shadow: 0 2px 2px 0 black, 0 3px 5px 3px black;
  color: black;
  border-style: inset; 
  border-width: 5px; 
  border-color: orange; 
  white-space: pre-wrap;
}

.hideMe{
  text-decoration: none;
  color:#037644
}


.slogan{
  text-align: center;
  color:black;
  white-space: nowrap;
  Transform: translateY(-50%);
  font-family: cursive; 

}



textarea{
  text-align: center;
  border: outset 4px orange;
  resize: none;
  color: black;
  outline: none;
}

input{
  outline: none;
  border: inset 1px orange;
}


#prompt {
  font-family: 'open_sansbold', sans-serif;
  padding: 0 10%;
  background-color: #fff;
  margin: 20px 23%;
  padding: 5px;
  border-radius: 5px;
}



.prompt{
  margin-top: 200px;
  color:black
}

input[type='checkbox'] {
  accent-color:green;
  color:aqua;
}

input[type='checkbox']:after {
  box-shadow: 10px; 
  color:aqua
} 

.pfp{
  margin-top: 1%;
  height: 40px;
}

.testing{
  list-style: none;
  
}

.audio-player, audio {
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.audio-player, .audio-playerH audio::-webkit-media-controls-panel {
  background-color: #f2f2f2;
}

.audio-playerH{
position: fixed;
width: 100%;
height: 50px;
background-color: #f2f2f2;
border: none;
outline: none;
}

.log{
  position: fixed;
  margin-left: 530px;
} 

@media screen and (min-width: 400px){

  
.prompt{
  position:fixed;
  height: 500px;
}
} 